@media screen and (min-width: 450px) and (max-width: 760px) {
    body  {
    background-color: white;
    color: white;
    }
}

body  {
    background-color: aliceblue;
}

.head   {
    background-image: url(https://images.unsplash.com/photo-1536964549204-cce9eab227bd?ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80);    
    height: 890px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: hidden;
    background-color: yellow;
    color: yellow;
}
.navigation li  {
    float: left;
}
.navigation li a  {
    display: flex;
    color: white;
    padding: 14px 16px;
    text-decoration: red;
}
.navigation li  {
    border-bottom: 1px solid black;
}

.navigation .active {
    background-color: red ;
    color: white;
}
.navigation li a:hover:not(.active)  {
    background-color: red;
    color: white;
}

.head h1    {
    text-align: center;
    color: white;
    font-size: 100px;
    font-family: 'Kaushan Script', cursive;
}  
.head img   {
    height: 130px;
    width: 130px;
    margin-left: 35%;
    margin-top: 6%;
    
}   

.card   {
    color: white;
    border: white;
    background-color: none;
    width: 400px;
    border: 1px solid none;
    padding: 1px;
    margin: 20px;
    text-align: center;
    border-radius: 25px;
}
.card img      {
    height: 330px;
    width: 355px;
    border-radius: 25px;
}
.menu   {
    text-align: center;
    background-image: url(https://images.pexels.com/photos/326311/pexels-photo-326311.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.menu h1    {
    font-size: 80px;
    font-family: 'Kaushan Script', cursive;
}
#last h1   {
    font-size: 45px;
    font-family: 'Kaushan Script', cursive;
}
#last p   {
    font-size: 25px;
    font-family: 'Noto Serif', serif;
}
#hform  {
    display: none;
}
#hform1  {
    display: none;
}
#hform2  {
    display: none;
}
#hform3  {
    display: none;
}


.browser-default {
    color: black;
    background-color: aliceblue;
}
